{% extends 'base.html' %}
{% load static %}
{% block title %}Events Detial - Bhim Secondary School{% endblock %}

{% block content %}
<!-- hero -->
<section class="hero">
    <div class="head_title">
        <div class="line"></div>
       <h3 class="fs-40-w-700" style="color: white;">Gallery</h3>

        <div class="line"></div>
    </div>
</section>

<section class="gallery_page_single">
    <div class="container">
        <div class="gallery-image-wrapper gallery-card">
            <div class="gallery-images">
                <div class="row">
                  
                    <div class="column">
                        <div class="image-wrapper large">
                            <img src="{% static 'assets/image/test.jpg' %}" class="image" alt="">
                            <div class="middle">
                                <button class="play">Play</button>
                            </div>
                        </div>
                        <div class="image-wrapper small">
                            <img src="{% static 'assets/image/test.jpg' %}" class="image" alt="">
                            <div class="middle">
                                <button class="play">Play</button>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="image-wrapper large">
                            <img src="{% static 'assets/image/test.jpg' %}" class="image" alt="">
                            <div class="middle">
                                <button class="play">Play</button>
                            </div>
                        </div>
                        <div class="image-wrapper small">
                            <img src="{% static 'assets/image/test.jpg' %}" class="image" alt="">
                            <div class="middle">
                                <button class="play">Play</button>
                            </div>
                        </div>
                    </div>

                    <div class="column"></div>
                        <div class="image-wrapper large">
                            <img src="{% static 'assets/image/test.jpg' %}" class="image" alt="">
                            <div class="middle">
                                <button class="play">Play</button>
                            </div>
                        </div>
                        <div class="image-wrapper small">
                            <img src="{% static 'assets/image/test.jpg' %}" class="image" alt="">
                            <div class="middle">
                                <button class="play">Play</button>
                            </div>
                        </div>
                    </div>

                    <div class="column"></div>
                        <div class="image-wrapper large">
                            <img src="{% static 'assets/image/test.jpg' %}" class="image" alt="">
                            <div class="middle">
                                <button class="play">Play</button>
                            </div>
                        </div>
                        <div class="image-wrapper small">
                            <img src="{% static 'assets/image/test.jpg' %}" class="image" alt="">
                            <div class="middle">
                                <button class="play">Play</button>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
        <div class="modals_video">
            <div class="open_video">
                <span class="video_close">X</span>
                <iframe width="885" height="498" src="https://www.youtube.com/embed/lTieq1DrEec?list=RDlTieq1DrEec" title="Post Malone - I Like You (Lyrics) ft. Doja Cat" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>

    </div>
</section>

<!-- enquiry -->
{% include 'common/enquiry.html' %}


{% endblock %}
