     <!-- enquiry -->
     <section class="enquiry">
        <div class="left_shape"></div>
        <div class="right_shape"></div>
        <div class="container">
            <div class="enquiry_wrapper">
                <div class="detail_wrapper">
                    <h3 class="fs-32-w-600">Join Our New Session</h3>
                    <h1 class="fs-48-w-700">Apply To Enroll Your Child</h1>
                </div>
                <div class="enquiry_btn">
                    <a href="/enquiry" class="btn_large primary_white_btn">Enquiry <i class="fa-solid fa-arrow-right ms-2"></i></a>
                </div>
            </div>
        </div>
      </section>