{% load static %}

<footer class="footer">
    <div class="container">
        <div class="footer_wrapper">
            <div class="footer_school_details">
                <div class="school_logo">
                    <div class="image">
                        <img src="{% static 'assets/image/small_logo.png'%}" alt="">
                    </div>
                    <div class="school_name">
                        <h3 class="fs-14-w-600">Bhim Secondary School</h3>
                    </div>
                </div>
                <div class="school_description">
                    <p class="fs-16-w-400">Bhim Secondary School is the best school in the Dolakha  which offer lots of
                        facilities in the
                        Melung.</p>
                </div>
                <div class="social_links">
                    <a href="#" class="fs-16-w-400 light_white_text_color"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="fs-16-w-400 light_white_text_color"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#" class="fs-16-w-400 light_white_text_color"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
            <div class="footer_links">
                <div class="link_head">
                    <h3 class="fs-24-w-600 light_white_text_color">Useful Links</h3>
                </div>
                <ul role="list" class="footer_links_wrapper">
                    <a href="/home">
                        <li>Home</li>
                    </a>
                    <a href="">
                        <li>Introduction</li>
                    </a>
                    <a href="">
                        <li>Facilities</li>
                    </a>
                    <a href="">
                        <li>Class</li>
                    </a>
                    <a href="gallery/">
                        <li>Gallery</li>
                    </a>
                </ul>
            </div>
            <div class="footer_links">
                <div class="link_head">
                    <h3 class="fs-24-w-600 light_white_text_color">Facilities</h3>
                </div>
                <ul role="list" class="footer_links_wrapper">
                    <a href="">
                        <li>Kid Programee</li>
                    </a>
                    <a href="">
                        <li>Transportation</li>
                    </a>
                    <a href="">
                        <li>Extra Activities</li>
                    </a>
                    <a href="">
                        <li>Visual Classes</li>
                    </a>
                </ul>
            </div>
            <div class="footer_links">
                <div class="link_head">
                    <h3 class="fs-24-w-600 light_white_text_color">Contact Info</h3>
                </div>
                <ul role="list" class="footer_links_wrapper">
                    <!-- Google Maps Link -->
                    <a href="https://www.google.com/maps/search/?api=1&query=Melung-4,+Dolakha" target="_blank" rel="noopener noreferrer">
                        <li><i class="fa-solid fa-location-dot me-2"></i>Melung-4, Dolakha</li>
                    </a>
            
                    <!-- Phone Call Link -->
                    <a href="tel:+9862695961">
                        <li><i class="fa-solid fa-phone me-2"></i>9862695961</li>
                    </a>
            
                    <!-- Email Link -->
                    <a href="mailto:bhim.secondary@gmail.com">
                        <li><i class="fa-solid fa-envelope me-2"></i>bhim.secondary@gmail.com</li>
                    </a>
                </ul>
            </div>
            

        </div>
    </div>
</footer>
<div class="footer_bottom">
    <div class="container">
        <div class="footer_bottom_wrapper">
            <h5 class="fs-14-w-400">@Copyright 2024Bhimsecondaryschool</h5>
            <h5 class="fs-14-w-400">Designed and Developed by: Deeepa Khanal</h5>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'assets/js/jquery.js' %}"></script>

<!-- select option plugin -->
<script type="text/javascript" src="{% static 'assets/b-select/js/bootstrap-select.min.js'%}"></script>


<!-- BOotstrap version 5 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

<!-- fontawesome 6 -->
<script type="text/javascript" src="{% static 'assets/fontawesome/js/all.min.js'%}"></script>

<!-- SWIPER Js -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script type="text/javascript" src="{% static 'assets/js/script.js'%}"></script>

</body>

</html>