{% extends 'base.html' %}
{% load static %}
{% block title %}Events Detial - Bhim Secondary School{% endblock %}

{% block content %}

<!-- hero -->
<section class="hero">
    <div class="head_title">
        <div class="line"></div>
        <h3 class="fs-40-w-700">Services</h3>
        <div class="line"></div>
    </div>
</section>


<section class="services">
    <div class="container">
        <div class="services-wrapper">
            <div class="service-left-text">
                <div class="service-left-text-wrapper">
                    <h3 class="fs-24-w-600">
                        School provides transportation for students in various sections of
                        Kathmandu and Lalitpur with buses and vans.
                    </h3>
                    <p class="fs-16-w-400">
                        Lorem ipsum dolor sit amet consectetur. At cras eget et aenean natoque iaculis mattis consectetur nec. Nisi aliquet quis nulla duis netus molestie adipiscing. Ultrices enim vitae tellus non lacus. Aliquam lacus urna nam sed eu sit velit tortor sit. Est etiam scelerisque etiam feugiat libero nunc. Mauris morbi morbi accumsan ut est quis laoreet diam. Quam convallis aliquam a nascetur nec vitae. Feugiat augue sed feugiat in ultrices tortor consectetur viverra proin.
                    </p>
                    <p class="fs-16-w-400">
                        Maecenas mauris ultricies sit sit amet proin quis mauris at. Dignissim interdum proin diam pellentesque tempus ac ut adipiscing mi. At sapien viverra duis ultrices faucibus. Nunc consequat tincidunt nibh quam. Pharetra congue at sit vel. In dis mi massa nulla nunc. Nec tellus fames in a suspendisse orci placerat purus leo. Nunc nunc sit fringilla enim.
                    </p>
                    <p class="fs-16-w-400">
                        Elit sed viverra dignissim non nascetur maecenas. Faucibus commodo aliquet non bibendum ac amet. Massa urna tellus cursus odio velit eros id augue a. Urna lectus egestas tristique vitae lorem. Luctus rutrum a lectus dignissim. Vitae dolor leo sed faucibus nisl morbi. Sed commodo id lorem nulla ornare sodales libero eu ornare. Neque risus dui aliquet cursus tellus dignissim quis laoreet magna. Facilisi pellentesque auctor urna quis bibendum. Sit vestibulum non eu lorem diam diam. Malesuada orci pellentesque nulla adipiscing ipsum sit. Posuere pulvinar et egestas donec mi pretium venenatis sed.
                    </p>
                </div>
                <div class="image">
                    <img src="./assets/image/services.png" alt="">
                </div>
            </div>
            <div class="service-right-list">
                <div class="service-right-list-wrapper">
                    <div class="services-card">
                        <div class="list-header">
                            <h3 class="fs-22-w-600">
                                Our Services
                                </h2>
                        </div>
                        <div class="service-list">
                            <ul>
                                <a href="services.php">
                                    <li class="fs-24-w-400"><i class="fa-solid fa-bus-simple"></i>Transportation</li>
                                </a>
                                <a href="services.php">
                                    <li class="fs-24-w-400"><i class="fa-solid fa-house"></i>Hostel Facilities</li>
                                </a>
                                <a href="services.php">
                                    <li class="fs-24-w-400"><i class="fa-solid fa-notes-medical"></i>Health Services</li>
                                </a>
                                <a href="services.php">
                                    <li class="fs-24-w-400"><i class="fa-solid fa-vials"></i>Science Lab</li>
                                </a>
                                <a href="services.php">
                                    <li class="fs-24-w-400"><i class="fa-solid fa-book-open-reader"></i>Library</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- enquiry -->
{% include 'common/enquiry.html' %}


{%endblock%}